footer {    
    border-top: 2px solid var(--seaGreenShadow);
    text-align: center;
    background-color: var(--seaGreen); color: var(--honeydew);
    .desc {
        width: 100%; display: inline-block; 
        padding: 1em 0; letter-spacing: 1px; font-size: 16px;
    }  
    .api-link {
        width: 100%; background-color: var(--honeydew); color: var(--darkCharcoal);
        display: inline-flex; align-items: center; justify-content: center; flex-direction: row;
        padding: 0.5rem 0; 
        span {
            font-size: 12px; letter-spacing: 2px;
            margin-bottom: 5px;
        }
        a {           
            border-radius: 5px; margin-left: 5px; 
            img {
                width: 50px; height: auto;
                transition: .35s; border-radius: 5px;
                &:hover { opacity: .85; }
            }
        }        
    }     
}