@import url(../../../app.component.scss);

.details-container, .specie-spec, .pest-and-cares, .specie-more-spec, .specie-hardiness {
    display: flex; align-items: center; flex-wrap: wrap;
}
.specie-spec, .pest-and-cares, .specie-hardiness {
    background-color: var(--seaGreen); color: var(--honeydew); border-radius: 5px;
}

.details-container {
    padding-bottom: 1em; justify-content: center;       
    .specie-details {
        width: 85%; text-align: center;
        padding: 1em; border-radius: 10px; cursor: default;
        background-color: var(--honeydew); box-shadow: var(--customBoxShadow);
        .specie-name {
            font-size: 16px; text-align: center; text-transform: capitalize; 
            letter-spacing: 2px; font-weight: bold;
            margin: 0; padding: 5px; 
        }
        .specie-other-names { font-size: 12px; font-style: italic; }

        .details-img-container {
            padding: 1em; 
            img { 
                width: auto; height: 250px;
                border-radius: 10px; border: 2px solid var(--darkCharcoal); box-shadow: var(--customBoxShadow);
            }
        }
        .specie-spec {
            justify-content: space-around; padding: 5px; margin-top: 5px;            
            .spec {
                font-size: 11px; text-transform: capitalize;                
                margin: 0; margin-inline: 5px; cursor: pointer;
            }
        }
        .specie-desc {
            font-size: 12px; text-align: justify; letter-spacing: 1px;
            margin: 10px 0; padding: 5px 0;
            span { font-weight: bold; text-transform: uppercase; letter-spacing: 2px; }
        }   
        .pest-and-cares {
            flex-direction: row; cursor: default; padding: 5px;           
            .specie-cares, .specie-pests {                
                width: 50%;
                font-size: 14px; letter-spacing: 1px;                                   
                a { 
                    height: 19px;
                    font-size: 10px; text-decoration: none; line-height: 1.7;
                    color: var(--honeydew); padding: 0; margin-left: 10px; transition: all 0.25s;
                    &:hover { text-decoration: underline; opacity: 0.8; }
                }            
            }
            .specie-cares {
                span { text-transform: capitalize; }
            }
            .specie-pests { border-left: 1px solid var(--honeydew); } 
        }    
        .more-spec-title {
            display: inline-block; margin: 5px 0 auto;
            font-size: 14px; 
        }
        .specie-more-spec {
            flex-direction: row; padding: 5px;        
            .row-1 { border-right: 1px solid; }
            .row-1, .row-2 { width: 50%; letter-spacing: 1px; }  
            .row-2 p:nth-child(4) span { margin-right: 5px; border-right: 1px; }          
            p {
                font-size: 12px; margin: 5px 0;                 
                span {
                    text-transform: capitalize; font-weight: bold;
                    color: darkred;
                }
            }
        }   
        .specie-hardiness {
            justify-content: center; flex-wrap: wrap; margin-top: 5px;                  
            .hardiness-level {
                width: 100%; 
                font-size: 14px; line-height: 5px;
                padding-top: 5px; margin: 0;    
                a { 
                    height: 19px;
                    font-size: 10px; text-decoration: none; color: var(--honeydew);
                    margin: 0; padding: 0; transition: all 0.25s;
                    &:hover { opacity: 0.8; text-decoration: underline; }
                }  
                span {
                    width: 100%; display: inline-block; margin-top: 8px;
                    font-size: 11px; letter-spacing: 1px;
                }    
            }           
            .hardiness-iframe {
                width: 100%; height: 300px;
                background-color: var(--honeydew);
                margin: 10px; border-radius: 5px;  
            }
        }        
    }
}