@import url(../../app.component.scss);

.navigation, .species-list-container {
    display: flex; align-items: center;
}

.species-list-container {
    justify-content: center; flex-wrap: wrap; 
    gap: 15px; padding: 0.5rem 1em 1em 1em;     
    .specie-card {
        width: 300px; height: 365px; position: relative;
        border: 2px solid var(--seaGreenShadow);
        background-color: var(--honeydew); color: var(--darkCharcoal) !important; box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        text-align: center; padding: 0.5rem; border-radius: 5px; cursor: default;       
        .specie-name {            
            font-size: 13px;  font-weight: bold; text-transform: capitalize;                       
        }
        .specie-other-names { 
            font-size: 11px; font-style: italic;
            margin-top: 4px;
        }
        .specie-img-container {
            margin: 10px;
            img { 
                width: 250px; height: 225px; object-fit: cover;
                border-radius: 10px; border: 2px solid var(--darkCharcoal);
            }
        }
        .specie-details-link {
            font-size: 12px; letter-spacing: 1px; text-decoration: none !important;
            color: var(--darkCharcoal); transition: .35s;
            &:hover { letter-spacing: 2px; }
        }
        .specie-id {
            position: absolute; right: 5px; bottom: 5px;
            font-size: 10px;
        }
    }
}