@import url(../../app.component.scss);

.cares-list-container {
    gap: 15px;
    .care-card {
        .specie-name {
            margin: 0 0 10px 0;
            font-size: 16px; letter-spacing: 1px; 
            span {
                text-transform: capitalize; font-weight: bold;
            }
        }
        .care-description {
            margin-bottom: 10px;           
            .care-types {
                background-color: var(--seaGreen); color: var(--honeydew);
                padding: 3px 5px 5px 5px;               
                .care-type-title {
                    display: inline-block;
                    font-size: 14px; letter-spacing: 1px;  
                    span {
                        cursor: pointer;
                        text-transform: capitalize; letter-spacing: 2px;
                    }                  
                }                
                img { 
                    width: 15px; height: 15px; 
                    margin-left: 10px;
                    cursor: pointer; filter: invert(100%);
                }
                
            }
            .care-desc-title { 
                display: inline-block; margin-top: 5px;                
                font-size: 14px;
            }
            .care-desc-text {
                font-size: 12px; letter-spacing: 1px; text-align: justify;
                margin: 0; padding: 5px;                
            }
        }
    }
}