@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Roboto Mono', monospace, FontAwesome;
}

html, body {
    position: relative;
}
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--oxley);
}

p { margin: 0; }
span { user-select: none; }

:root {
    /* Color Palette */
    --seaGreen: #358856; --seaGreenShadow: #005427;
    --oxley: #6e9b7b;
    --honeydew: #effdf3; --honeydewShadow: #849188;
    --burlywood: #deb887;

    --darkCharcoal: #303030;

    --customBoxShadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}